*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
body{
    background-color:black;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(commonnn\ -\ Edited.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
 img{  
    width: 150px;  
     height: auto;  
 } 
nav ul li{
    display: inline-block;
}
nav ul li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;                 
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    color: white;
  
}
p{
    font-size: 30px;
    font-weight: bold;
      margin-top: 200px;
    
}
h1{
    font-size: 60px;
    font-weight: bold;
    margin-top: 40px;
}
.header-text h1 span{
    color: #00aaff;
    
}
#About{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-links{
    margin-right: 100px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;                 
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}
.tab-links:hover{
    color: #ff004f;
}
.tab-links:hover::after{
    width: 100%;
}
.tab-contents ul li span{
    color: #ff004f;
    font-size: 20px;
}

/*Services*/

#Service{
    padding: 80px 0;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
    margin-top: 50px;
}
.service-box{
    padding: 40px;
    background: #ababab;
    border-bottom: 15px;
    transition: transform 0.4s,background 0.4s;
    text-align: center;
}
.service-box i {
  font-size: 40px;
  color: white;
  margin-bottom : 10px;


}

.service-box h2{
    font-size: 25px;
    margin-bottom: 15px;
    color: white;
}
.service-box p{
    font-size: 18px;
    line-height: 1.6;
    color: #ababab;
}
.service-box:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
.service-box:hover p{
   color: #fff;
}


#Portfolio{
    padding: 80px 0;
}

.portfolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
    margin-top: 50px;    
}
.portfolio-item{
   position: relative;
    overflow: hidden;
    border-radius: 10px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-item img{
    width: 40%;
    border-radius: 10px;
    transition: transform 0.5s;
    display: block;
}
.layer{
    width: 40%;
    height: 100%;
    background: #ff004f;
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 10px;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50%);
}
.layer h3{
    color: #fff;
    font-size: 50px;
}
.layer p{
    color: white;
}
.portfolio-item:hover img{
   transform: scale(1.1);
   
}
.portfolio-item:hover .layer{
    opacity: 1;
    width: 44%;
    
}/* Contact */

#Contact{
    padding: 80px 0;
}

.contact-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.contact-left{
    flex-basis: 35%;
}

.contact-left p{
    font-size: 18px;
    margin: 10px 0;
}

.social-icons a{
    display: inline-block;
    margin-right: 15px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
}

.contact-right{
    flex-basis: 60%;
}

.contact-right form input,
.contact-right form textarea{
    width: 100%;
    background: #262626;
    border: none;
    outline: none;
    padding: 15px;
    margin: 10px 0;
    color: white;
    font-size: 16px;
    border-radius: 6px;
}

.btn{
    display: inline-block;
    background: #ff004f;
    color: white;
    padding: 14px 40px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover{
    background: #e60045;
}
